
/* light starts */

body {
  color: #222;
  background-color: #f0f0f9;
}

a {
  color: #222;
}

.iconMove {
  fill: #888;
}

.iconShow {
  fill: #888;
}


.tagJn {
  border-color: #888;
}



.journey {
  border-color: transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.partBasicJn {
  background-color: #f8f8f8;
}

.partDetailsJn {
  color: #000;
}

.journey .titleJn {
  color: #000;
}


.journey[data-focus="yes"] {
  border-color: #02BBFF;
  background-color: #02BBFF;
}

.journey[data-focus="yes"] .iconShow {
  fill: #02BBFF;
}

.statusJn, .numMissionJn {
  border-color: #222;
}

.listMission {
  
}

.listMission > div{
  border-top-color: #02BBFF;
}


.divCreateJn, .divShowAllJn
,.divCancelJn, .divAddJn
{
  background-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}


.iconCreate, .divShowAllJn .iconShow
,.iconX, .iconPlus {
  fill: #222;
}

.inputTitleJn, .inputTitleMs {
  color: #222;
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}


/* light ends */





@media (prefers-color-scheme: dark) {
/* dark starts */
  
body {
  color: #ddd;
  background-color: #000;
}

a {
  color: #ddd;
}

.journey {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
  
}

.partBasicJn {
  background-color: #191920;
}
.partDetailsJn {
  /* common */
}



.journey .titleJn {
  color: #fff;
}


.divCreateJn, .divShowAllJn
,.divCancelJn, .divAddJn
{
  background-color: #191920;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}


.iconCreate, .divShowAllJn .iconShow
,.iconX, .iconPlus {
  fill: #ddd;
}


.inputTitleJn, .inputTitleMs {
  color: #ddd;
  border-color: #191920;
  background-color: #191920;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}


.statusJn, .numMissionJn {
  border-color: #ddd;
}

/* dark ends */
}