
/* light starts */

body {
  color: #222;
  background-color: #f0f0f9;
}

a {
  color: #34495e;
}

.iconMove {
  fill: #888;
}

.iconShow {
  fill: #888;
}


.tagJn {
  border-color: #888;
}



.journey {
  background-color: #f8f8f8;
  border-color: transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.journey .titleJn {
  color: #000;
}


.journey[data-focus="yes"] {
  border-color: #02BBFF;
}

.journey[data-focus="yes"] .iconShow {
  fill: #02BBFF;
}


.listMission > div{
  border-top-color: #888;
}


.divCreate, .divShowAll {
  background-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.iconCreate, .divShowAll .iconShow {
  fill: #222;
}

.inputTitleJn, .inputTagsJn {
  color: #888;
  border-color: #f8f8f8;
  background-color: #f8f8f8;
}



/* light ends */


@media (prefers-color-scheme: dark) {
/* dark starts */
  
body {
  color: #ddd;
  background-color: #000;
}

a {
  color: #ddd;
}

.journey {
  background-color: #101019;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}

.journey .titleJn {
  color: #fff;
}


.divCreate, .divShowAll {
  background-color: #101019;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}

.iconCreate, .divShowAll .iconShow {
  fill: #ddd;
}

/* dark ends */
}