
/* light starts */

body {
  color: #222;
  background-color: #f0f0f9;
}

a {
  color: #222;
}


.tagJn {
  border-color: #888;
}



.journey {

}

.partBasicJn {
  background-color:#f8f8f8;
  border-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}


.journey .titleJn {
  color: #000;
}




.statusJn, .numMissionJn {
  border-color: #222;
}

.listMission {
  
}

.mission{
  border-top-color: #02BBFF;
}


.divCreateJn, .divShowAllJn
,.divCancelJn, .divAddJn
,.divCreateMs
{
  background-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.journey .iconMove
, .journey .iconShow
, .journey .iconEdit 
, .mission .iconMove
, .mission .iconEdit
{
  fill: #888;
}


.iconCreate

, .iconX
, .iconPlus 

, .listMission .iconCreate

{
  fill: #222;
}

.inputTitleJn, .inputTitleMs {
  color: #222;
  border-color: #f8f8f8;
  background-color: #f8f8f8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}


/* light ends */





@media (prefers-color-scheme: dark) {
/* dark starts */
  
body {
  color: #ddd;
  background-color: #000;
}

a {
  color: #ddd;
}

.journey {
  
  
}

.partBasicJn {
  background-color: #191920;
  border-color: #191920;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}


.journey .titleJn {
  color: #fff;
}


.divCreateJn, .divShowAllJn
,.divCancelJn, .divAddJn
,.divCreateMs
{
  background-color: #191920;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}


.iconCreate

, .iconX
, .iconPlus 

, .listMission .iconCreate
{
  fill: #ddd;
}


.inputTitleJn, .inputTitleMs {
  color: #ddd;
  border-color: #191920;
  background-color: #191920;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}


.statusJn, .numMissionJn {
  border-color: #ddd;
}

/* dark ends */
}