.header {
  height: 90px;
  
  display: grid;
  grid-template-columns: 80px 200px 80px;
  grid-template-rows: auto;
  gap: 10px 0px;
  
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 2rem;
  font-weight: 700;
  
}

.date {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-size: 1.3rem;
  font-weight: 700;
  
  height: 30px;
}

.date > div {
  height: 1.6rem;
}

.divCreateJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.iconCreate {
  width: 28px;
  height: 28px;
}

.divCancelJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.iconX {
  width: 24px;
  height: 24px;
}


.header .divShowAllJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.divShowAllJn .iconShow {
  width: 30px;
  height: 30px;
}


.divAddJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.iconPlus {
  width: 24px;
  height: 24px;
}


.groupInputCreatingJn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.inputTitleJn {
  width: 200px;
  height: 32px;
  border-radius: 10px;
  
  padding-left: 10px;
}

.inputTitleMs {
  width: 200px;
  height: 28px;
  border-radius: 9px;
  
  padding-left: 10px;
}





.listJn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
}



@media (min-width: 1500px) {
  .listJn {width: 1500px;}
}




