
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;700&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');  */

@import "./ALL.css";

@import "./0/color.css";

@import "./0/Journey.css";



html {
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;
  font-size: 16px;
}

/* iPhone 11: 414, iPhone SE: 320; */
/* 414 * 0.95 = 393.3 */
/* 414 * 0.9 = 372.6 */
/* 414 * 0.85 = 351.9 */
/* 414 * 0.8 = 331.2 */
/* 414 * 0.75 = 310.5 */

@media (max-width: 413px) {
  html {zoom: 95%;}
}
@media (max-width: 393px) {
  html {zoom: 90%;}
}
@media (max-width: 372px) {
  html {zoom: 85%;}
}
@media (max-width: 351px) {
  html {zoom: 80%;}
}
@media (max-width: 331px) {
  html {zoom: 75%;}
}





body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;

  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


