
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;700&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');  */

@import "./0/color.css";


html {
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;
  font-size: 16px;
}

/* iPhone 11: 414, iPhone SE: 320; */
/* 414 * 0.95 = 393.3 */
/* 414 * 0.9 = 372.6 */
/* 414 * 0.85 = 351.9 */
/* 414 * 0.8 = 331.2 */
/* 414 * 0.75 = 310.5 */

@media (max-width: 413px) {
  html {zoom: 95%;}
}
@media (max-width: 393px) {
  html {zoom: 90%;}
}
@media (max-width: 372px) {
  html {zoom: 85%;}
}
@media (max-width: 351px) {
  html {zoom: 80%;}
}
@media (max-width: 331px) {
  html {zoom: 75%;}
}




body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;

  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


.header {
  height: 90px;
  
  display: grid;
  grid-template-columns: 50px 250px 50px;
  grid-template-rows: auto;
  gap: 5px 0px;
  
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 2rem;
  font-weight: 700;
  
}

.divCreateJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.iconCreate {
  width: 28px;
  height: 28px;
}

.divCancelJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.iconX {
  width: 24px;
  height: 24px;
}


.header .divShowAllJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.divShowAllJn .iconShow {
  width: 30px;
  height: 30px;
}


.divAddJn {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.iconPlus {
  width: 24px;
  height: 24px;
}


.groupInputCreatingJn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.inputTitleJn {
  width: 200px;
  height: 32px;
  border-radius: 10px;
  
  padding-left: 10px;
}

.inputTitleMs {
  width: 200px;
  height: 28px;
  border-radius: 9px;
  
  padding-left: 10px;
}







#listJn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.journey {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 360px;
  
  margin-top: 20px;
  
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  
  box-sizing: content-box;
}



.partBasicJn {
  width: 100%;

  
  border-radius: 20px;
  
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 50px 40px;
  gap: 5px 5px;
  
  grid-template-areas:
    "left title title title right"
    "left bottomLeft bottomMiddle bottomRight right";
  
  justify-content: center;
  justify-items: center;
  align-items: center;
  
}

.journey[data-focus="yes"] .partBasicJn {
  border-radius: 20px 20px 5px 5px;
}


.partDetailsJn {
  font-size: 0.9rem;
  font-weight: 700;
  
  width: 100%;
  
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 36px;
  gap: 5px 0px;
  
  border-radius: 0 0 20px 20px;
  
  justify-content: center;
  justify-items: center;
  align-items: center;
}


.divMove {grid-area: left;}
.titleJn {grid-area: title;}
.divShow {grid-area: right;}

.statusJn {grid-area: bottomLeft;}

.numDoneMissionJn {grid-area: bottomMiddle;}
.numLeftMissionJn {grid-area: bottomRight;}




.titleJn {

  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 4px;
}


.divMove, .journey .divShow {
  justify-self: center;
}


.journey .iconMove {
  width: 20px;
  height: 20px;
}

.journey .iconShow {
  width: 24px;
  height: 24px;
}


.statusJn, .numDoneMissionJn, .numLeftMissionJn {

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 0.9rem;
  
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}




.mission {
  
  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-rows: auto;
  gap: 0px 5px;
  
  justify-items: center;
  align-items: center;

}

.titleMs {
  justify-self: start;
}


.listMission {
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  flex-direction: column;
  
  border-radius: 4px;
  

}


.mission {
  min-height: 40px;
  width: 90%;
  
  font-size: 1rem;
  
  border-bottom-width: 1px;
  border-bottom-style: solid;

}

.mission > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mission .iconMove {
  width: 20px;
  height: 20px;
}

.mission .iconEdit {
  width: 20px;
  height: 20px;
}


