
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;700&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');  */

@import "./0/color.css";


html {
  font-family: 'Noto Serif KR', serif;
  font-weight: 400;
  font-size: 16px;
}

/* iPhone 11: 414, iPhone SE: 320; */
/* 414 * 0.95 = 393.3 */
/* 414 * 0.9 = 372.6 */
/* 414 * 0.85 = 351.9 */
/* 414 * 0.8 = 331.2 */
/* 414 * 0.75 = 310.5 */

@media (max-width: 413px) {
  html {zoom: 95%;}
}
@media (max-width: 393px) {
  html {zoom: 90%;}
}
@media (max-width: 372px) {
  html {zoom: 85%;}
}
@media (max-width: 351px) {
  html {zoom: 80%;}
}
@media (max-width: 331px) {
  html {zoom: 75%;}
}




body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


.header {
  height: 90px;
  
  display: grid;
  grid-template-columns: 50px 250px 50px;
  grid-template-rows: auto;
  gap: 5px 0px;
  
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 2rem;
  font-weight: 700;
  
}

.divCreate {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.iconCreate {
  width: 28px;
  height: 28px;
}


.header .divShowAll {
  
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.divShowAll .iconShow {
  width: 30px;
  height: 30px;
}



#listJn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.journey {
  width: 360px;
  height: 80px;
  
  padding: 7px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  
  box-sizing: content-box;
  
  display: grid;
  grid-template-columns: 30px auto 40px;
  grid-template-rows: auto auto;
  gap: 5px 5px;
  
  grid-template-areas:
    "left title right"
    "left tags right";
    
  justify-items: start;
  align-items: center;
  
}



.divMove {grid-area: left;}
.titleJn {grid-area: title;}
.divShow {grid-area: right;}
.tagsJn {grid-area: tags;}


.tagsJn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}


.titleJn {
  justify-self: center;

  font-size: 1.2rem;
  margin-left: 4px;
}


.divMove, .journey .divShow {
  justify-self: center;
}


.journey .iconMove {
  width: 20px;
  height: 20px;
}

.journey .iconShow {
  width: 24px;
  height: 24px;
}

.tagJn {
  font-size: 0.9rem;

  margin: 4px;
  
  padding-left: 4px;
  padding-right: 4px;
  
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}


.detailsJn {
  width: 95%;
  height: 30px;
  
  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-rows: auto;
  gap: 0px 5px;
  
  
  justify-items: center;
  align-items: center;

}


.listMission {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  flex-direction: column;
}


.listMission > div {
  font-size: 1.1rem;
  height: 40px;
  width: 90%;
  
  border-top-width: 1px;
  border-top-style: solid;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: row;
}


